@page "/gameState"
@using BlazorFrontend.Pages.Accounts
@using Microsoft.AspNetCore.Authorization
@using Shared.State
@attribute [Authorize]
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject CustomAuthStateProvider CustomAuthStateProvider

<h3>GameState</h3>

@if (gameState is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@gameState.Type</em></p>

    @switch (gameState.Context)
    {
        case CombatContextDto combat:
            <p>state: combat</p>
            <p>@combat.Test</p>
            break;

        case QuestChoiceContextDto questChoice:
            <p>state: questChoice</p>
            <p>@questChoice.Test</p>
            break;

        case QuestResultContextDto result:
            <p>state: result</p>
            <p>@result.Test</p>
            break;

        default:
            <p>Nieznany stan gry</p>
            break;
    }

    @foreach (var p in @gameState.AvailableActions)
    {
        <p>
            <button class="btn btn-primary" @onclick="() => Decision(p.Id)">@p.Id - @p.Description</button>
        </p>
    }
}

@code {
    private GameStateDto? gameState;

    protected override async Task OnInitializedAsync()
    {
        var authState = await CustomAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        bool isLoggedIn = user.Identity?.IsAuthenticated ?? false;
        if (isLoggedIn)
        {
            var response = await Http.GetFromJsonAsync<GameStateDto>("api/gameState/gameState");
            gameState = response;
        }
    }

    private async Task Decision(Guid decision)
    {
        var response = await Http.PostAsJsonAsync("api/gameState/decision", decision);

        if (response.IsSuccessStatusCode)
        {
            var newState = await response.Content.ReadFromJsonAsync<GameStateDto>();

            gameState = newState;
        }
    }
}
